article a {
	display: inline-block;
	box-sizing: border-box;
	color: white;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background-color: lightseagreen;
	box-shadow: 5px 5px 5px gray;
	margin: 5px;
}

section {
	display: inline-block;
	width: 80%;
	padding: 10px;
}
#section_img {
	margin: 10px;
}
#section_img > img {
	width: 100%;
}