section {
	display: inline-block;
	width: 80%;
	text-align: left;
}
section > * {
	float: left;
	box-sizing: border-box;
	padding: 50px 10px;
}
section > div.section_img {
	width: 40%;
}
section > div.section_description {
	width: 60%;
	line-height: 30px;
}
img {
	width: 100%;
	border: 5px solid gray;
	box-sizing: border-box;
}
