@charset "UTF-8";

header {
	text-align: center;
}

article {
	text-align: center;
}

section {
	text-align: left;
	display: inline-block;
	width: 50%;
}

form label[class="label_text"] {
	display: block;
}
form label[class="label_radio"] {
	margin-right: 20px;
	font-weight: bold;
}
form input {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 18px;
	padding: 5px;
}

#form_title {
	box-sizing: border-box;
	width: 100%;
}

#form_name {
	width: 50%;
}

#buttons {
	display: inline-block;
	position: relative;
	width: 100%;
	margin-top: 30px;
}

#buttons>* {
	display: inline;
	padding: 0;
	text-align: center;
	line-height: 40px;
	box-shadow: 0 0 3px 1px gray;
	border: 0;
	width: 150px;
	height: 40px;
}

.buttons_left {
	float: left;
	left: 0;
	background-color: white;
	color: black;
}

.buttons_right {
	margin: 0 0 0 20px;
	float: right;
	background-color: #20ADEE;
	color: white;
}