/src/main/resources/application.properties
target
.classpath
.project
.settings
/src/main/java/kr/or/connect/daoexam/*
/src/main/java/kr/or/connect/diexam01/*
/src/main/java/kr/or/connect/mvcexam/*
/src/main/java/kr/or/connect/guestbook/*