/src/main/resources/*
target
.classpath
.project
.settings
.vscode

/src/main/java/kr/or/connect/daoexam/*
/src/main/java/kr/or/connect/diexam01/*
/src/main/java/kr/or/connect/mvcexam/*
/src/main/java/kr/or/connect/guestbook/*

/src/main/webapp/WEB-INF/view/*
*/applicationContext.xml